<div class="content__container">
  <form class="content" {{action saveImage url caption on="submit"}}>
    <div class="content-inputs">
      {{input class="input-new" type="text" value=url placeholder="Image URL"}}
      {{textarea class="input-new" value=caption placeholder="Image Caption"}}
    </div>
    <div class="content-buttons">
      {{#link-to 'index'}}
      <button>Cancel</button>
      {{/link-to}}
      <button>Add Image</button>
    </div>
  </form>

  {{!-- {{#each model as |image|}}
  <li>
    <img src="{{image.url}}" alt="">
    <p>{{image.caption}}</p>
  </li>
  {{/each}} --}}

</div>
